.bodyMenu {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 40px;
}

.bodyMenu__menuItem:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.bodyMenu__menuItem:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.bodyMenu__menuItem:nth-of-type(5) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.bodyMenu__menuItem:last-of-type {
  grid-column-start: 1;
  grid-column-end: 4;
}

.bodyMenu__menuItem {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.bodyMenu__menuItem-top {
  position: relative;
  height: 80%;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.bodyMenu__menuItem-bottom {
  font-size: 0.85rem;
  height: 20%;
}

.bodyMenu__menuItem h2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
}

.bodyMenu__menuItem-top img {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  position: absolute;
  filter: brightness(50%);
  transition: all 0.3s ease;
}

.bodyMenu__menuItem-top:hover img {
  filter: brightness(80%);
  transform: scale(1.05);
}

.menuTitle {
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: -30px;
  color: #2f3332;
  font-size: 2.1rem;
  letter-spacing: 1px;
}
